.el-popconfirm {
    &__main {
        font-size: 1.5rem;
        font-family: 'cairo-semi-bold'
    }

    &__action {
        margin-top: 1rem;
        text-align: center;

        .el-button+.el-button {
            font-size: 1.4rem;
            background: var(--primary-color);
            border-color: var(--primary-color);
        }
    }

}