.flex-fill {
    flex: 1;
}

.gap-1rem {
    gap: 1rem;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.margin-top-bottom-1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.margin-bottom-1rem {
    margin-bottom: 1rem;
}

.w-100 {
    width: 100%;
}

.mt-3 {
    margin-top: 3rem;
}